* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: whitesmoke;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.name-content {
    margin-right: 7rem;
}

.name-content .logo {
    font-size: 3.75rem;
    color: rgb(30, 109, 255);
}

.name-content p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 2rem;
    width: 540px;
    height: 360px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

form input {
    outline: none;
    padding: 0.8rem 1rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}

form input:focus {
    border: 1.8px solid rgb(30, 109, 255);
}

form .login {
    outline: none;
    border: none;
    background: rgb(30, 109, 255);
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: white;
}

form .login:hover {
    background: rgb(32, 121, 255);
    cursor: pointer;
}

form a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.8rem;
    color: rgb(30, 109, 255);
}

form hr {
    background: silver;
    margin: 1rem;
}

form .create-account {
    outline: none;
    border: none;
    background: rgb(2, 201, 12);
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: white;
    width: 75%;
    margin: 0 auto;
}

form .create-account:hover {
    background: rgb(5, 136, 1);
    cursor: pointer;
}

img {
    width: 480px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

@media (min-width: 1px) and (max-width: 768px) {
    html {
        font-size: 60%;
    }

    .name-content {
        margin: 0;
        text-align: center;
    }

    form {
        width: 300px;
        height: fit-content;
    }

    form input {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    form .login {
        font-size: 1.5rem;
    }

    form a {
        font-size: 1.5rem;
    }

    form .create-account {
        font-size: 1.5rem;
    }

    .flex-div {
        display: flex;
        flex-direction: column;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    
}

@media (min-width: 769px) and (max-width: 1200px) {
    html {
        font-size: 60%;
    }

    .name-content {
        margin: 0;
        text-align: center;
    }

    form {
        width: 300px;
        height: fit-content;
    }

    form input {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    form .login {
        font-size: 1.5rem;
    }

    form a {
        font-size: 1.5rem;
    }

    form .create-account {
        font-size: 1.5rem;
    }

    .flex-div {
        display: flex;
        flex-direction: column;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    @media (orientation: landscape) and (max-height: 500px) {
        .header {
        height: 90vmax;
        }
    }  
}